<h2>Welcome to the TodoList!</h2>
<ul>
	<% @list.tasks.each do | task | %>
		<% if task.complete? %>
		<li>
			<%= task.content %> 
			<a href="/complete_task/<%=task.id%>">Complete</a> COMPLETE! 
			<form action="/delete_task" method="POST">
			<button type="submit" name="deleteme" value="<%= task.id%>">Delete</button>
			</form>
		</li>
		<% else %>
		<li>
			<%= task.content %>
			<a href="/complete_task/<%=task.id%>">Complete</a>
			<form action="/delete_task" method="POST">
			<button type="submit" name="deleteme" value="<%= task.id%>">Delete</button>
			</form>
		</li>
		<% end %>
	<% end %>
</ul>

<a href="/new_task">Add New Task</a>
