<% if @concert.errors.any? %>
	<ul>
		<% @concert.errors.full_messages.each do |error_msg| %>
		<li><%= error_msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @concert do |f| %>
	<%= f.label :artist %>
	<%= f.text_field :artist %>
	<br>
	<%= f.label :venue %>
	<%= f.text_field :venue %>
	<br>
	<%= f.label :city %>
	<%= f.text_field :city %>
	<br>
	<%= f.label :date %>
	<%= f.datetime_local_field :date %>
	<br>
	<%= f.label :price %>
	<%= f.number_field :price %>
	<br>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<br>
	<%= f.submit 'New Concert' %>

<% end %>
<%= link_to("Cancel", concerts_path) %>